@import "~public/styles/mixins.less";

.editor-page-array-input {
  padding: 15px 0;

  &__item {
    padding: 15px;
    border-radius: 5px;
  }

  &__item-header {
    .row();
    .align-center();
    justify-content: space-between;

    height: 30px;
    padding: 0 10px;
  }

  &__add {
    padding-top: 15px;
  }
}
