@import "~public/styles/mixins.less";

.editor-page-movements-form {
  margin-bottom: 30px;

  &__recordings {
    padding-left: 25px;
    border-left: 1px solid #eeeeee;
  }

  &__header {
    .row();
    .align-center();
    justify-content: space-between;

    height: 30px;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  &__key {
    min-width: 150px;
  }
}
