@import "~public/styles/mixins.less";
@import "~public/styles/colors.less";

.link() {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.pages-editor-container {
  flex: 1;
  padding: 20px 20px 0 20px;

  height: 100vh;
  overflow-y: scroll;

  &__status {
    height: 80px;
    .row();
    .align-center();

    &-updating {
      height: 36px;
      padding: 0 15px;
      border-radius: 18px;
      .row();
      .align-center();

      background-color: lighten(@ui-color-red, 40%);
      color: darken(@ui-color-red, 20%);
    }

    &-synced {
      height: 36px;
      padding: 0 15px;
      border-radius: 18px;
      .row();
      .align-center();

      background-color: lighten(@ui-color-green, 40%);
      color: darken(@ui-color-green, 20%);

      transition: opacity 2s;
    }
  }
}
